---
---

@import "{{ site.theme }}";

.page-header {
    color: #ff00ff;
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    background-color: #ffd42a;
    background-image: none;
}


body {
    background-image: url('../../media/images/sample_image.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

html, body {
    height: 100%;
}

@media screen and (max-width: 42em) { .main-content { background-color: #ffffffDD;} }
